@model AttendanceManagement.ViewModel.AttendanceViewModel

@{
    ViewBag.Title = "AddAttendance";
}

<h2>AddAttendance</h2>

<div>
    <h4>AttendanceViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeacherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectCode)
        </dd>

    </dl>
    <table class="table">
        <tr></tr>
        <tr>
            <th>
                @Html.DisplayName("USN")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Check")
            </th>

        </tr>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.USN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @Html.CheckBox("isPresent", true)
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">            
            @using (Html.BeginForm("AddAttendance", "ManageAttendance", FormMethod.Post, new { Model.Students, Model.TeacherId, Model.IsPresent, Model.SubjectCode, Model.Date, Model.Slot}))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Add Attendance" class="btn btn-default" />
            }
        </div>
    </div>
</div>